.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Arial", sans-serif;

  .quiz-header {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      color: #002a8d;
      font-weight: 500;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 1.2rem;
      color: #aebdda;
    }
  }

  .progress-container {
    position: relative;

    .progress {
      height: 70px;
      border-radius: 34px;
      overflow: hidden;
      padding: 0.5rem;
      background-color: #cfdfff;
      position: relative;

      .progress-bar {
        height: 100%;
        background-color: #002a8d;
        transition: width 0.3s ease;
        border-radius: 27px;
      }

      .progress-check {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 57px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid #7d9de6;
        overflow: hidden;
      }

      .progress-check i {
        background: white;
        font-size: 60px;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    .score {
      margin-top: 5px;
      font-weight: bold;
      color: #164bb5;
      display: flex;
      justify-content: flex-end;
    }
  }

  //   .progress-container {
  //     .progress {
  //       height: 70px;
  //       border-radius: 34px;
  //       overflow: hidden;
  //       padding: 0.5rem;
  //       background-color: #cfdfff;

  //       .progress-bar {
  //         height: 100%;
  //         background-color: #002a8d;
  //         transition: width 0.3s ease;
  //         border-radius: 27px;
  //       }
  //     }

  //     .score {
  //       margin-top: 5px;
  //       font-weight: bold;
  //       color: #164bb5;
  //       display: flex;
  //       justify-content: flex-end;
  //     }
  //   }

  .quiz-content {
    margin: 30px 0;

    h4 {
      font-size: 1.1rem;
      margin-bottom: 20px;
      color: #333;
      display: flex;
      justify-content: center;
    }

    .options {
      display: flex;
      gap: 15px;
      justify-content: center;

      .btn-option {
        min-width: 120px;
        padding: 10px 20px;
        border: 1px solid #ddd;
        background-color: white;
        color: #333;

        &:hover,
        &.selected {
          background-color: #fb8c00;
          color: white;
          border-color: #fb8c00;
        }
      }
    }

    .form-check-input:checked {
      background-color: #ff6f00;
      border-color: #ff6f00;
    }

    .form-check-input:hover {
      border-color: #ff6f00;
    }

    .form-check-input:focus {
      box-shadow: none;
      border-color: #ff6f00;
    }

    .form-control {
      max-width: 300px;
      margin: 0 auto;
    }

    .video-container {
      //   margin-top: 20px;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .quiz-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    flex-direction: row-reverse;
    justify-content: space-around;

    .btn-primary {
      padding: 10px 30px;
      background-color: #fb8c00;
      border: none;
      font-size: 1.2rem;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      gap: 0.3rem;
      i {
        font-size: 1.2rem;
      }

      &:hover {
        background-color: #fb8c00;
      }
    }

    .btn-primary:disabled {
      background: #d3d3d3;
      cursor: not-allowed;
    }

    .steps-counter {
      margin-top: 10px;
      color: #002a8d;
      background-color: #eef3ff;
      padding: 0.4rem;
      border-radius: 25px;
      font-size: 1rem;
    }
  }

  .results-container {
    max-width: 600px;
    margin: 0 auto;
    h2 {
      color: #002a8d;
      font-weight: 500;
      margin-bottom: 3rem;
    }

    .card-body {
      h3 {
        font-size: 1.2rem;
        color: #aebdda;
      }
    }
  }

  .score-display {
    font-size: 2.5rem;
    color: #0d6efd;
  }

  .approval-message {
    border-left: 4px solid #198754;
  }

  .results-container .approval-message.text-warning {
    border-left-color: #fd7e14;
  }
}
