.top-header {
    background: linear-gradient(to right,  #0033a0,70%, #d4145a);
    color: white;
    padding: 8px 16px;
    font-size: 14px;
  }
  
  i {
    font-size: 18px;
    color: #FFB02E;
    margin-right: 0.3rem;
  }
  
  .btn-close-white {
    filter: invert(1);
  }
  